<!DOCTYPE html>
<html>
  <head>
    <title>Contactos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  </head>
     <!-- contactos-->
  <body class="bg-sky-900">
   <%- include('navbar') %>
   <div class="flex justify-center">
    <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg mt-6">
      <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="images/INSI .PNG" alt="" />
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">CONTACTANOS</h5>
        <p class="text-gray-700 text-base mb-4">
          TELEFONO: 999 561 552 
        </p>
        <P class="text-gray-700 text-base mb-4">
            UNBICACION: Jr. Moquegua N° 852
        </P>
        <P class="text-gray-700 text-base mb-4">
            CORREO:info@cata.edu.pe

        </P>

        <p class="text-gray-600 text-xs text-center">LO ESPERAMOS¡¡¡¡¡¡¡</p>
      </div>
    </div>
  </div>
   <!--end contactos-->
  <!--CARRUSEL-->
  <div class="container m-auto mt-6">
    <div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel ">
      <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner relative w-full overflow-hidden">
        <div class="carousel-item active relative float-left w-full">
          <img width="100px"
            src="images/TP1.jpg"
            class="block w-full"
            alt="..."
          />
          <div class="carousel-caption hidden md:block absolute text-center">
            <h1 class="text-5xl text-sky-900 uppercase">CENTRO MEDICO CATA</h1>
            <p class="text-3xl  text-sky-900  uppercase">CUIDANDO TU SALUD</p>
          </div>
        </div>
        <div class="carousel-item relative float-left w-full ">
          <img width="100px"
            src="images/TP2.jpg"
            class="block w-full"
            alt="..."
          />
          <div class="carousel-caption hidden md:block absolute text-center">
            <h5 class="text-5xl text-white ">TOPICO</h5>
            <p class="text-3xl text-white ">AMBIENTE CON LOS IMPLEMENTOS NESESARIOS</p>
          </div>
        </div>
        <div class="carousel-item relative float-left w-full">
          <img width="100px" height="300 px"
            src="images/TP3.jpg" 
            class="block w-full"
            alt="..."
          />
          <div class="carousel-caption hidden md:block absolute text-center">
            <h5 class="text-5xl text-white ">COLEGIO ADVENTISTA TUPAC AMARU</h5>
            <p class="text-3xl text-white ">CON VALORES CRISTIANOS</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<!--END CARRUSEL-->
<%- include('footer') %>
  </body>
</html>