<!DOCTYPE html>
<html>
  <head>
    <title>Nosotros</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    

  </head>
     <!-- bibliogrfia-->
  <body class="bg-sky-900">
   <%- include('navbar') %>
   <style>
    /* Styles required only for the example above */
    .scrollspy-example {
      position: relative;
      height: 200px;
      overflow: auto;
      left: 330px;
    }
  </style>
  
  <div class="accordion accordion-flush container m-auto mt-6 grid" id="accordionFlushExample">
    <div class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
      <h2 class="accordion-header mb-0" id="flush-headingOne">
        <button class="accordion-button
      relative
      flex
      items-center
      w-full
      py-4
      px-5
      text-base text-gray-800 text-left
      bg-white
      border-0
      rounded-none
      transition
      focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
          aria-expanded="false" aria-controls="flush-collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse border-0 collapse show"
        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body py-4 px-5 text-gray-800">Placeholder content for this accordion, which is intended to
          demonstrate
          the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
    <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
      <h2 class="accordion-header mb-0" id="flush-headingTwo">
        <button class="accordion-button
      collapsed
      relative
      flex
      items-center
      w-full
      py-4
      px-5
      text-base text-gray-800 text-left
      bg-white
      border-0
      rounded-none
      transition
      focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
          aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body py-4 px-5">Placeholder content for this accordion, which is intended to
          demonstrate
          the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this
          being
          filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item border-l-0 border-r-0 border-b-0 rounded-none bg-white border border-gray-200">
      <h2 class="accordion-header mb-0" id="flush-headingThree">
        <button class="accordion-button
      collapsed
      relative
      flex
      items-center
      w-full
      py-4
      px-5
      text-base text-gray-800 text-left
      bg-white
      border-0
      rounded-none
      transition
      focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
          aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body py-4 px-5">Placeholder content for this accordion, which is intended to
          demonstrate
          the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
          happening here in terms of content, but just filling up the space to make it look, at least at first
          glance,
          a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>

  <!--cars-->
  <div class="container m-auto mt-6 grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2 justify-center ">
  <div class="flex justify-center ">
    <div class="rounded-lg shadow-lg bg-white max-w-sm ">
      <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
        <img class="rounded-t-lg" src="images/N1.jpg" alt=""/>
      </a>
      <div class="p-6">
        <h5 class="text-gray-900 text-xl font-medium mb-2 text-center">NUESTRO LOCAL EN JULIACA</h5>
        <p class="text-gray-700 text-base mb-4 text-center">
          NOS HUBICAMOS EN  Jr, Jr. Moquegua 852, Juliaca.
        </p>
        <p>NUESTRO AMBIENTE ES 100 % EDUCATIVO PARA FORMAR LIDERES EN NUESTRO PAIS</p>
        
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
        <img class="rounded-t-lg" src="images/N2.jpg" alt=""/>
      </a>
      <div class="p-6">
        <h5 class="text-gray-900 text-xl font-medium mb-2 text-center">NUESTRA PLANA DOCENTE & ALUNMOS </h5>
        <p class="text-gray-700 text-base mb-4 text-center">
          NUESTRO COLOGEIO ADVENTISTA TUPAC AMARU CUENTA CON MEJORES PROFESORES A NIVEL NACIONAL.
        </p>
        
      </div>
    </div>
    
  </div>
  <div class="flex justify-center">
    <div class="rounded-lg shadow-lg bg-white max-w-sm J">
      <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
        <img class="rounded-t-lg" src="images/N3.jpg" alt=""/>
      </a>
      <div class="p-6">
        <h5 class="text-gray-900 text-xl font-medium mb-2 text-center">NUESTRAO AMPLIO COMEDOR </h5>
        <p class="text-gray-700 text-base mb-4 text-center">
          NUESTRO COLOGEIO ADVENTISTA TUPAC AMARU CUENTA CON UN COMEDOR PAR TODO EL COLEGIO.
        </p>
        
      </div>
    </div>
    
  </div>

</div>
<%- include('footer') %>
  <!--end cars-->
  </body>
</html>